<app-profile-photo [src]="header.photo"></app-profile-photo>

<ul [ngClass]="theme">
    <li *ngFor="let item of headerItems">
        <ng-container [ngSwitch]="item.type">
            <a *ngSwitchCase="'link'" [href]="item.href" target="_blank">{{ item.label }}</a>
            <span *ngSwitchDefault [ngStyle]="item.email ? { color: emailColor } : null">
                {{ item.label }}
            </span>
        </ng-container>
    </li>
</ul>

<button (click)="setTheme('light')">☀️</button>
<button (click)="setTheme('dark')">🌙</button>
<button (click)="toggleEmailColor()">
  Toggle email color
</button>
<div class="taskList">
   <h2>Список дел</h2>
  <input [(ngModel)]="newTask" placeholder="Например, новая задача">
  <label>
    Выберите фото:
    <select [(ngModel)]="newTaskPhoto">
      <option *ngFor="let image of imageOptions" [value]="image.src">{{ image.label }}</option>
    </select>
  </label>
  <button (click)="addTask()">Добавить</button>
  <ul>
    <li *ngFor="let task of tasks">
      <img class="task-photo" [src]="task.photo" alt="Task photo">
      <div class="task-content">
        <label>
          <input type="checkbox" [ngModel]="task.completed" (ngModelChange)="setTaskCompleted(task.id, $event)">
          <span [ngClass]="{ done: task.completed }">
            {{ task.title }}
          </span>
        </label>
        <p *ngIf="task.description">{{ task.description }}</p>
      </div>
      <button (click)="deleteTask(task.id)">🗑</button>
    </li>
  </ul>
</div>
